.section {
    padding: 20px;
    margin: 10px 0;
    background-color: white;
}

.section__header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 20px;
    font-size: 22px;
    margin: 10px;
    padding: 10px;
}

@media(max-width:500px) {
    .section__header {
        grid-template-columns: auto;
        grid-gap: 10px;
    }
}